# Virtual environments
env/
.venv/
venv/

# Python cache
__pycache__/
*.py[cod]
*.pyo

# Jupyter
.ipynb_checkpoints/

# uv
uv.lock
.venv/
env/

# Distribution / build
dist/
build/
*.egg-info/

# OS
.DS_Store
Thumbs.db
