<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">


</head>
<body style="background-color:powderblue;">

<!-- <body style="background-image: url('img_girl.jpg');" > -->
<h2 style="text-align:center">Amount of yearly sependings</h2>

<form action="/predict" method='post' style="text-align:center">
  <label for="Avatar"><b>Avatar:</b></label><br>
  <select id="av" name="av" style="text-align:center">
    <option value="0">AliceBlue</option>
    <option value="1">AntiqueWhite</option>
    <option value="2">Aqua</option>
    <option value="3">Aquamarine</option>
    <option value="4">Azure</option>
    <option value="5">Beige</option>
    <option value="6">Bisque</option>
    <option value="7">Black</option>
    <option value="8">BlanchedAlmond</option>
    <option value="9">Blue</option>
    <option value="10">BlueViolet</option>
    <option value="11">Brown</option>
    <option value="12">BurlyWood</option>
    <option value="13">CadetBlue</option>
    <option value="14">Chartreuse</option>
    <option value="15">Chocolate</option>
    <option value="16">Coral</option>
    <option value="17">CornflowerBlue</option>
    <option value="18">Cornsilk</option>
    <option value="19">Crimson</option>
    <option value="20">Cyan</option>
    <option value="21">DarkBlue</option>
    <option value="22">DarkCyan</option>
    <option value="23">DarkGoldenRod</option>
    <option value="24">DarkGray</option>
    <option value="25">DarkGreen</option>
    <option value="26">DarkKhaki</option>
    <option value="27">DarkMagenta</option>
    <option value="28">DarkOliveGreen</option>
    <option value="29">DarkOrange</option>
    <option value="30">DarkOrchid</option>
    <option value="31">DarkRed</option>
    <option value="32">DarkSalmon</option>
    <option value="33">DarkSeaGreen</option>
    <option value="34">DarkSlateBlue</option>
    <option value="35">DarkSlateGray</option>
    <option value="36">DarkTurquoise</option>
    <option value="37">DarkViolet</option>
    <option value="38">DeepPink</option>
    <option value="39">DeepSkyBlue</option>
    <option value="40">DimGray</option>
    <option value="41">DodgerBlue</option>
    <option value="42">FireBrick</option>
    <option value="43">FloralWhite</option>
    <option value="44">ForestGreen</option>
    <option value="45">Fuchsia</option>
    <option value="46">Gainsboro</option>
    <option value="47">GhostWhite</option>
    <option value="48">Gold</option>
    <option value="49">GoldenRod</option>
    <option value="50">Gray</option>
    <option value="51">Green</option>
    <option value="52">GreenYellow</option>
    <option value="53">HoneyDew</option>
    <option value="54">HotPink</option>
    <option value="55">IndianRed</option>
    <option value="56">Indigo</option>
    <option value="57">Ivory</option>
    <option value="58">Khaki</option>
    <option value="59">Lavender</option>
    <option value="60">LavenderBlush</option>
    <option value="61">LawnGreen</option>
    <option value="62">LemonChiffon</option>
    <option value="63">LightBlue</option>
    <option value="64">LightCoral</option>
    <option value="65">LightCyan</option>
    <option value="66">LightGoldenRodYellow</option>
    <option value="67">LightGray</option>
    <option value="68">LightGreen</option>
    <option value="69">LightPink</option>
    <option value="70">LightSalmon</option>
    <option value="71">LightSeaGreen</option>
    <option value="72">LightSkyBlue</option>
    <option value="73">LightSlateGray</option>
    <option value="74">LightSteelBlue</option>
    <option value="75">LightYellow</option>
    <option value="76">Lime</option>
    <option value="77">LimeGreen</option>
    <option value="78">Linen</option>
    <option value="79">Magenta</option>
    <option value="80">MediumAquaMarine</option>
    <option value="81">MediumBlue</option>
    <option value="82">MediumOrchid</option>
    <option value="83">MediumPurple</option>
    <option value="84">MediumSeaGreen</option>
    <option value="85">MediumSlateBlue</option>
    <option value="86">MediumSpringGreen</option>
    <option value="87">MediumTurquoise</option>
    <option value="88">MediumVioletRed</option>
    <option value="89">MidnightBlue</option>
    <option value="90">MintCream</option>
    <option value="91">MistyRose</option>
    <option value="92">Moccasin</option>
    <option value="93">NavajoWhite</option>
    <option value="94">Navy</option>
    <option value="95">OldLace</option>
    <option value="96">Olive</option>
    <option value="97">OliveDrab</option>
    <option value="98">Orange</option>
    <option value="99">OrangeRed</option>
    <option value="100">Orchid</option>
    <option value="101">PaleGoldenRod</option>
    <option value="102">PaleGreen</option>
    <option value="103">PaleTurquoise</option>
    <option value="104">PaleVioletRed</option>
    <option value="105">PapayaWhip</option>
    <option value="106">PeachPuff</option>
    <option value="107">Peru</option>
    <option value="108">Pink</option>
    <option value="109">PowderBlue</option>
    <option value="110">Purple</option>
    <option value="111">Red</option>
    <option value="112">RosyBrown</option>
    <option value="113">RoyalBlue</option>
    <option value="114">SaddleBrown</option>
    <option value="115">Salmon</option>
    <option value="116">SandyBrown</option>
    <option value="117">SeaGreen</option>
    <option value="118">SeaShell</option>
    <option value="119">Sienna</option>
    <option value="120">Silver</option>
    <option value="121">SkyBlue</option>
    <option value="122">SlateBlue</option>
    <option value="123">SlateGray</option>
    <option value="124">Snow</option>
    <option value="125">SpringGreen</option>
    <option value="126">SteelBlue</option>
    <option value="127">Tan</option>
    <option value="128">Teal</option>
    <option value="129">Thistle</option>
    <option value="130">Tomato</option>
    <option value="131">Turquoise</option>
    <option value="132">Violet</option>
    <option value="133">Wheat</option>
    <option value="134">White</option>
    <option value="135">WhiteSmoke</option>
    <option value="136">Yellow</option>
    <option value="137">YellowGreen</option>
  </select><br><br>
  <label for="Avg. Session Length"><b>Avg. Session Length:</b></label><br>
  <input type="text" id="avglen" name="avglen" value="0" style="text-align:center"><br><br>
  <label for="Time on App"><b>Time on App:</b></label><br>
  <input type="text" id="ToApp" name="ToApp" value="0" style="text-align:center"><br><br>
  <label for="Time on Website"><b>Time on Website:</b></label><br>
  <input type="text" id="ToWeb" name="ToWeb" value="0" style="text-align:center"><br><br>
  <label for="Length of Membership"><b>Length of Membership:</b></label><br>
  <input type="text" id="LenMem" name="LenMem" value="0" style="text-align:center"><br><br>
  <input type="submit" value="Submit"><br><br>

  <h2> Prdictions:</h2>

  <p font-size: 20px><strong>{{ result }}</strong></p>

</form> 

</body>
</html>